<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WrapTorrClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WrapTorrClient.Properties.Settings>
            <setting name="ServerMAC" serializeAs="String">
                <value>00252236071E</value>
            </setting>
            <setting name="ServerDNSName" serializeAs="String">
                <value />
            </setting>
            <setting name="uTorrentLocation" serializeAs="String">
                <value>c:\Program Files\uTorrent\uTorrent.exe</value>
            </setting>
            <setting name="DownloadsPath" serializeAs="String">
                <value>e:\Downloads\</value>
            </setting>
        </WrapTorrClient.Properties.Settings>
    </userSettings>
</configuration>